  <div class="edit-store">
    <h1>Editing store</h1>
    
    <%= render "form", store: @store %>
    
    <br>
    
    <div class="btn-links">
      <%= link_to "Show this store", @store, class: "btn btn-show-store" %>
      <%= link_to "Back to stores", stores_path, class: "btn-back-to-stores"  %>
    </div>
  </div>
