<div class="new-store">
  <h1>New store</h1>
  
  <%= render "form", store: @store %>
  
  <br>
  
  <div class="navigation-links">
    <%= link_to "Back to stores", stores_path, class: "btn btn-back-to-stores" %>
  </div>
</div>
