<h1 id="product-title">Managing Users</h1>

<div class="products-container">
  <% @users.each do |user| %>

      <div class="card">
        <div class="card-content">
          <h3><%= user.email %></h3>
          <h3><%= user.role %></h3>
         <% if user.discarded? %>
            <h3>Status: inativo</h3>
          <% else  %>
            <h3>Status: ativo</h3>
          <% end  %>
          <%= link_to "Show this user", me_path(id: user.id) %>
          <%= link_to "Edit this user",  edit_registration_path(id: user.id)%>
        </div>
     </div>
      <hr />
  <% end %>
</div>