<h1 id="product-title">Managing Users</h1>

<div class="products-container">
  <% @user.each do |user| %>

      <div class="card">
        <div class="card-content">
          <h3><%= user.email %></h3>
          <%= link_to "Show this user", me_path(user) %>
          <%= link_to "Edit this user",  edit_user_password_path(user)%>
          <%= link_to "Deactivate this user", deactivate_user_path(user)%>
        </div>
     </div>
      <hr />
  <% end %>
</div>