<h1>Welcome to Delivery!</h1>
<% if current_user %>
  <p>Logged in as <strong><%= current_user.email %></strong></p>
  <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "Sign in", new_user_session_path %>
  or
  <%= link_to "Sign up", new_user_registration_path %>
<% end %>