body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

.notice {
  color: green;
  margin-bottom: 20px;
}

.user-info {
  margin-bottom: 20px;
}

.user-info p {
  margin-bottom: 10px;
}

.sign-out-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f44336;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.sign-out-btn:hover {
  background-color: #d32f2f;
}

.auth-links {
  margin-top: 20px;
}

.auth-links a {
  margin: 0 10px;
  color: #333;
  text-decoration: none;
}

.auth-links a:hover {
  text-decoration: underline;
}

.field {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

.actions {
  margin-top: 20px;
}

.actions input[type="submit"] {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.actions input[type="submit"]:hover {
  background-color: #0056b3;
}

.container-signup {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.role-input {
  width: 100%;
}

.role-input select {
    width: 100%;
}

.field input {
    width: 97%;
}

.actions input{
  width: 100%;
  margin-bottom: 10px;
}

.container-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.card {
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: transform 0.2s;
}

.card-two {
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: transform 0.2s;
}

.btn-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.card h3 {
  margin-top: 0;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card p {
  margin: 10px 0;
}

.card a {
  text-decoration: none;
  color: #007bff;
}

.card a:hover {
  text-decoration: underline;
}

.card:hover {
  transform: translateY(-5px);
}

#product-title {
  text-align: center;
}

.product-image {
  width: 200px;
  height: 150px;
  border-radius: 15px;
  margin-bottom: 10px;
}

.container-links-welcome {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #9ea2a7;
  padding: 15px;
  color: white;
  border-bottom: 2px solid #0056b3;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.container-links-welcome a, .container-links-welcome button {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #e9edf1;
  cursor: pointer;
}

.container-links-welcome a:hover, .container-links-welcome button:hover {
  background-color: #003f7f;
}

.user-details {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  text-align: center;
}

.user-details h2 {
  color: #333;
  margin-bottom: 20px;
}

.user-details p {
  margin: 10px 0;
  color: #555;
}

.user-details strong {
  color: #333;
}

.user-details a {
  display: inline-block;
  margin: 10px 5px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.user-details a:hover {
  background-color: #0056b3;
}

.user-details a.deactivate {
  background-color: #f44336;
}

.user-details a.deactivate:hover {
  background-color: #d32f2f;
}

/* Estilo geral do formulário */
.user-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

/* Estilo para os grupos de formulário */
.form-group {
  margin-bottom: 15px;
}

/* Estilo para os rótulos do formulário */
.form-label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Estilo para os campos do formulário */
.form-control {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Estilo para o botão de envio */
.btn {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
}

.btn-primary:hover {
  background-color: #0056b3;
}
/* Estilo para a mensagem de notificação */
.notice {
  color: green;
  font-size: 1.2em;
  margin-bottom: 20px;
}

/* Estilo para o título da página */
.page-title {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

/* Contêiner das lojas */
.stores-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

/* Estilo para cada loja individual */
.store {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  width: 300px;
  text-align: center;
}

/* Estilo para os links e botões */
.btn {
  display: inline-block;
  padding: 10px 15px;
  margin: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

.btn-show-store {
  background-color: #007bff;
}

.btn-show-store:hover {
  background-color: #0056b3;
}

.btn-new-store {
  background-color: #28a745;
  display: block;
  width: fit-content;
  margin: 20px auto;
}

.btn-new-store:hover {
  background-color: #218838;
}

/* Estilo para a mensagem de erro */
.error-messages {
  border: 1px solid red;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  color: red;
}

/* Estilo para o formulário de criação de loja */
.create-store-form {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

/* Estilo para os grupos de formulário */
.create-store-form .form-group {
  margin-bottom: 15px;
}

/* Estilo para os rótulos dos campos do formulário */
.create-store-form .form-label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Estilo para os campos de entrada do formulário */
.create-store-form .form-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Estilo para os campos de seleção do formulário */
.create-store-form .form-select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Estilo para as ações do formulário */
.create-store-form .form-actions {
  margin-top: 20px;
}

/* Estilo para o botão de envio */
.btn-create-store {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.btn-create-store:hover {
  background-color: #0056b3;
}

/* Estilo para o botão de voltar */
.btn-back-to-stores {
  background-color: #6c757d;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.btn-back-to-stores:hover {
  background-color: #5a6268;
}

/* Estilo para os links de navegação */
.navigation-links {
  margin-top: 20px;
}

.new-store {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-group .form-select {
  width: 100%;
  padding: 10px;
  border: 1px solid green;
}

/* Estilo para o cartão da loja */
.store-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  transition: box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.store-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilo para o avatar da loja */
.store-avatar {
  display: flex;
  justify-content: center;
  align-content: center;
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

/* Estilo para os rótulos dos campos da loja */
.store-label {
  font-weight: bold;
  margin-right: 5px;
  color: #333;
}

/* Estilo para o nome da loja */
.store-name {
  font-size: 1.2em;
  color: #555;
  margin-right: 20px;
}

/* Estilo para o endereço da loja */
.store-address {
  font-size: 1em;
  color: #777;
}

.store-actions {
  width: 100%;
  margin-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Estilo para os botões */
.store-actions .btn {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.3s;
}

/* Estilo específico para o botão "Edit this store" */
.store-actions .btn-edit-store {
  background-color: #ffc107; /* Cor amarela */
}

.store-actions .btn-edit-store:hover {
  background-color: #e0a800;
}

/* Estilo específico para o botão "Back to stores" */
.store-actions .btn-back-to-stores {
  background-color: #6c757d; /* Cor cinza */
}

.store-actions .btn-back-to-stores:hover {
  background-color: #5a6268;
}

/* Estilo específico para o botão "Destroy this store" */
.store-actions .btn-destroy-store {
  background-color: #dc3545; /* Cor vermelha */
}

.store-actions .btn-destroy-store:hover {
  background-color: #c82333;
}

/* Hover effect para todos os botões */
.store-actions .btn:hover {
  background-color: #0056b3;
}

.edit-store {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.users-page-links {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 15%;
  gap: 0px;
}

.users-page-links a .btn .btn-new-store {
  max-width: fit-content;
}

.father-user-links {
  display: flex;
  justify-content: center;
  width: 100%;
}

.store-actions-two {
  display: flex;
  align-items: center;
  align-content: center;
  width: 50%;
  justify-content: center;
}

.store-actions-two .btn-edit-store{ 
  background-color: rgb(163, 163, 17);
}

.store-actions-two .btn-show-store{ 
  background-color: red;
}

.store-details {
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    max-width: 800px;
  }

  .store-details h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
  }

  .store-details h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }

  .product-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .product-item {
    background: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    text-align: left;
  }

  .product-item p {
    margin: 0;
    font-size: 1.2em;
  }

  .store-actions-three {
  display: flex;
  align-items: center;
  align-content: center;
  width: 20%;
  justify-content: center;
}

.notice {
  color: green;
  display: flex;
  justify-content: center;
}

.card-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.open-store {
  color: green;
}

.closed-store {
  color: red;
}

.dashboard-container {
  max-width: 800px;
  margin: 0 auto;
}

.credentials-list {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid white;
  box-shadow: 1px 3px 3px black;
  padding:10px;
}

.credential-item {
  margin-bottom: 10px;
}

.credential-access {
  font-weight: bold;
}

.credential-submit {
  margin-left: 10px;
}

.new-credential-fields {
  margin-bottom: 10px;
}

.new-credential-label {
  display: block;
  margin-bottom: 5px;
}

.new-credential-select,
.new-credential-key {
  width: 100%;
  padding: 8px;
  font-size: 16px;
}

.new-credential-submit {
  margin-top: 10px;
   display: flex;
  justify-content: center;
}

.new-credential-button {
 
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width:300px
}

.new-credential-button:hover {
  background-color: #0056b3;
}

.credential-delete {
  color: #dc3545;
  text-decoration: none;
  margin-left: 10px;
}

.credential-delete:hover {
  text-decoration: underline;
}

.text-center {
  text-align: center
}

.key {
  display: flex;
  align-items: center;
  gap: 5px
}

.form-new-key{ 
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid white;
  box-shadow: 1px 3px 3px black;
  padding:10px;
}