.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

#product-title {
  text-align: center;
}

.product-image {
  width: 200px;
  height: 150px;
  border-radius: 15px;
  margin-bottom: 10px;
}

.product-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-item {
  background: #f9f9f9;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  text-align: left;
  list-style: none;
}

.product-item p {
  margin: 0;
  font-size: 1.2em;
}
