<div>
    <h1><%= @store.name %> </h1>
    <h2>Lista de produtos</h2>
    <ul>
    <% @product.each do |product| %>
        <li>
            <p><%= product.title %></p>
            <%= link_to "Show this product", store_product_path(store_id: product.store, id: product)%>
        </li>
    </ul>
  <% end %>
</div>